@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&display=swap');
@import 'flowbite';
body {
  font-family: 'Athiti', sans-serif;
}


.athiti-extralight {
  font-family: "Athiti", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.athiti-light {
  font-family: "Athiti", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.athiti-regular {
  font-family: "Athiti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.athiti-medium {
  font-family: "Athiti", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.athiti-semibold {
  font-family: "Athiti", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.athiti-bold {
  font-family: "Athiti", sans-serif;
  font-weight: 700;
  font-style: normal;
}
